$slate: hsl(222, 47.4%, 11.2%);
$slate-sub-dark: hsl(217, 32.6%, 17.5%);
$slate-medium: hsl(215, 16.3%, 46.9%);
$slate-400: hsl(215, 20.2%, 65.1%);
$slate-200: hsl(214, 31.8%, 91.4%);
$slate-100: hsl(210, 40%, 96.1%);
$slate-50: hsl(210, 40%, 98%);
$white: #fff;

/* General styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Lexend Deca";
  font-size: 16px;
  color: $slate;
}

.main-container {
	background: $slate-50;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	
	header {
		background: $slate;
		color: $white;
		padding: 1rem;
		position: relative;
		
		h1 {
			text-align: center;
			font-family: "Poppins";
			font-size: 1.1rem;
			font-weight: 500;
		}
		
		button {
			border: none;
			background: none;
			color: $white;
			font-size: 1rem;
			position: absolute;
			top: 50%;
			right: 1.1rem;
			transform: translateY(-50%);
		}
	}
	
	.msg-container {
		flex: 1;
		overflow: hidden;
		
		#current-msg-wrapper {
			padding: 1rem;
			height: 100%;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			gap: 0.45rem;
			
			.greet-msg-container {
				display: flex;
				justify-content: center;
				div {
					background: $slate-200;
					font-size: 0.75rem;
					padding: 0.325rem;
					border-radius: 0.4rem;
					display: inline;
					margin: auto;
				}
			}
			
			.others-msg-container {
				display: flex;
				justify-content: flex-start;
				
				> div {
					max-width: 60%;
				}
				
				p {
					background: $slate-200;
					padding: 0.7rem;
					border-radius: 0.5rem;
					word-break: break-word;
				}
				
				span {
					font-size: 0.7rem;
					color: $slate-medium;
					text-align: left;
					display: block;
					padding-left: 0.5rem;
				}
			}
			
			.user-msg-container {
				display: flex;
				justify-content: flex-end;
				
				> div {
					max-width: 60%;
				}
				
				p {
					background: $slate;
					color: $white;
					padding: 0.7rem;
					border-radius: 0.5rem;
					word-break: break-word;
				}
				
				span {
					font-size: 0.7rem;
					color: $slate-medium;
					text-align: right;
					display: block;
					padding-right: 0.5rem;
				}
			}
		}
	}
	
	.user-input-container {
		box-shadow: 0 -5px 10px #00000010;
		display: flex;
		
		input {
			flex: 1;
			border: none;
			color: $slate;
			font-family: "Lexend Deca";
			font-size: 1rem;
			padding: 1rem;
			background: transparent;
			
			&::placeholder {
				color: $slate-400;
			}
		}
		
		button {
			border: none;
			background: $slate;
			color: $white;
			font-size: 1rem;
			padding: 1rem;
		}
	}
	
}

.online-user-list-container {
	box-shadow: -5px 0 10px #00000010;
	height: 100vh;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	transition: 200ms;
	overflow: hidden;
	
	ul {
		height: 100vh;
		width: 100%;
		background: $slate;
		list-style: none;
		overflow-y: auto;
		
		li {
			color: $white;
			padding: 1rem;
			transition: 150ms;
			white-space: nowrap;
			
			&:hover {
				background: $slate-sub-dark;
			}
		}
	}
}