/* General styling */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font-family: "Lexend Deca";
	font-size: 16px;
	color: #0f172a;
}

.main-container {
	background: #f8fafc;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.main-container header {
	background: #0f172a;
	color: #fff;
	padding: 1rem;
	position: relative;
}

.main-container header h1 {
	text-align: center;
	font-family: "Poppins";
	font-size: 1.1rem;
	font-weight: 500;
}

.main-container header button {
	border: none;
	background: none;
	color: #fff;
	font-size: 1rem;
	position: absolute;
	top: 50%;
	right: 1.1rem;
	transform: translateY(-50%);
}

.main-container .msg-container {
	flex: 1;
	overflow: hidden;
}

.main-container .msg-container #current-msg-wrapper {
	padding: 1rem;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
}

.main-container .msg-container #current-msg-wrapper .greet-msg-container {
	display: flex;
	justify-content: center;
}

.main-container .msg-container #current-msg-wrapper .greet-msg-container div {
	background: #e2e8f0;
	font-size: 0.75rem;
	padding: 0.325rem;
	border-radius: 0.4rem;
	display: inline;
	margin: auto;
}

.main-container .msg-container #current-msg-wrapper .others-msg-container {
	display: flex;
	justify-content: flex-start;
}

.main-container .msg-container #current-msg-wrapper .others-msg-container > div {
	max-width: 60%;
}

.main-container .msg-container #current-msg-wrapper .others-msg-container p {
	background: #e2e8f0;
	padding: 0.7rem;
	border-radius: 0.5rem;
	word-break: break-word;
}

.main-container .msg-container #current-msg-wrapper .others-msg-container span {
	font-size: 0.7rem;
	color: #64748b;
	text-align: left;
	display: block;
	padding-left: 0.5rem;
}

.main-container .msg-container #current-msg-wrapper .user-msg-container {
	display: flex;
	justify-content: flex-end;
}

.main-container .msg-container #current-msg-wrapper .user-msg-container > div {
	max-width: 60%;
}

.main-container .msg-container #current-msg-wrapper .user-msg-container p {
	background: #0f172a;
	color: #fff;
	padding: 0.7rem;
	border-radius: 0.5rem;
	word-break: break-word;
}

.main-container .msg-container #current-msg-wrapper .user-msg-container span {
	font-size: 0.7rem;
	color: #64748b;
	text-align: right;
	display: block;
	padding-right: 0.5rem;
}

.main-container .user-input-container {
	box-shadow: 0 -5px 10px #00000010;
	display: flex;
}

.main-container .user-input-container input {
	flex: 1;
	border: none;
	color: #0f172a;
	font-family: "Lexend Deca";
	font-size: 1rem;
	padding: 1rem;
	background: transparent;
}

.main-container .user-input-container input::placeholder {
	color: #94a3b8;
}

.main-container .user-input-container button {
	border: none;
	background: #0f172a;
	color: #fff;
	font-size: 1rem;
	padding: 1rem;
}

.online-user-list-container {
	box-shadow: -5px 0 10px #00000010;
	height: 100vh;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	transition: 200ms;
	overflow: hidden;
}

.online-user-list-container ul {
	height: 100vh;
	width: 100%;
	background: #0f172a;
	list-style: none;
	overflow-y: auto;
}

.online-user-list-container ul li {
	color: #fff;
	padding: 1rem;
	transition: 150ms;
	white-space: nowrap;
}

.online-user-list-container ul li:hover {
	background: #1e293b;
}
